<!DOCTYPE html>
<html lang="en" ng-app="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="images/favicon.png" type="image/png" sizes="32x32">
		<title>Amiaro Tambola</title>
		<!-- Meta Tags START-->
		<meta charset="utf-8">
    <meta name="keywords" content="Amiaro Tambola">
    <meta name="description" content="Amiaro Tambola">
    <meta name="author" content="">
    <meta name="description" content="Amiaro Tambola">
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <link rel="canonical" href="https://amiarotambola.com/">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Amiaro Tambola">
    <meta property="og:description" content="Amiaro Tambola">
    <meta property="og:url" content="https://amiarotambola.com/">
    <meta property="og:site_name" content="Amiaro Tambola">
    <meta property="og:updated_time" content="2021-04-13T14:03:56+00:00">
    <meta property="og:image" content="images/thumbnail-logo.jpg">
    <meta property="og:image:secure_url" content="images/thumbnail-logo.jpg">
    <meta property="og:image:width" content="521">
    <meta property="og:image:height" content="210">
    <meta property="og:image:alt" content="Homepage">
    <meta property="og:image:type" content="image/png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Homepage - Amiaro Tambola">
    <meta name="twitter:description" content="Amiaro Tambola">
    <meta name="twitter:image" content="images/thumbnail-logo.jpg">
		<!-- Meta Tags END-->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/f5.css">
		<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
		<!---- CSS ---->
		<link rel="stylesheet" type="text/css" href="css/components/style.css">
    <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
	</head>
	<body class="body-bg">
		<div class="main-wrapper container">
			<header class="header mb-4">
				<div class="container">
					<div class="row align-items-center justify-content-lg-between justify-content-md-between">
						<a href="index.html" class="col-lg-4 col-md-4 col-sm-4 order-lg-1">
							<img src="images/logo.png" alt="" class="logo">
						</a>
						<div class="col-12 col-lg-4 col-md-8  col-sm-8 order-lg-0">
							<ul class="time-and-date">
								<li><img src="images/calendar.png" alt="">06-06-2021</li>
								<li><img src="images/tambola.png" alt=""><span class="hide-title">Next Game in :</span> <span>01:41:52</span></li>
								<li><img src="images/alarm.png" alt="">07:30:00 PM</li>
							</ul>
						</div>
						
						<div class="col-lg-4  order-lg-2 text-end d-none d-lg-block">
							<div class="float-right">
								<button type="button" class="btn green-btn d-block mb-2">Join Whatsapp Group</button>
								<a href="agentlist.html" class="btn orange-btn d-block mb-2">Show Booking Agents</a>
							</div>
						</div>
					</div>
				</div>
			</header>	<section class="inner-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 p-0">
					<div class="game-play">
						<ul>
						<li><span>01</span></li>
						<li><span>02</span></li>
						<li><span>03</span></li>
						<li><span class="active">04</span></li>
						<li><span>05</span></li>
						<li><span>06</span></li>
						<li><span>07</span></li>
						<li><span>08</span></li>
						<li><span>09</span></li>
						<li><span class="active">10</span></li>
						<li><span>11</span></li>
						<li><span>12</span></li>
						<li><span>13</span></li>
						<li><span>14</span></li>
						<li><span>15</span></li>
						<li><span>16</span></li>
						<li><span class="active">17</span></li>
						<li><span>18</span></li>
						<li><span>19</span></li>
						<li><span>20</span></li>
						<li><span>21</span></li>
						<li><span>22</span></li>
						<li><span>23</span></li>
						<li><span class="active">24</span></li>
						<li><span>25</span></li>
						<li><span>26</span></li>
						<li><span>27</span></li>
						<li><span>28</span></li>
						<li><span>29</span></li>
						<li><span class="active">30</span></li>
						<li><span>31</span></li>
						<li><span>32</span></li>
						<li><span>33</span></li>
						<li><span>34</span></li>
						<li><span class="active">35</span></li>
						<li><span>36</span></li>
						<li><span>37</span></li>
						<li><span>38</span></li>
						<li><span class="active">39</span></li>
						<li><span>40</span></li>
						<li><span>41</span></li>
						<li><span>42</span></li>
						<li><span>43</span></li>
						<li><span>44</span></li>
						<li><span class="active">45</span></li>
						<li><span>46</span></li>
						<li><span>47</span></li>
						<li><span>48</span></li>
						<li><span>49</span></li>
						<li><span class="active">50</span></li>
						<li><span>51</span></li>
						<li><span>52</span></li>
						<li><span class="active">53</span></li>
						<li><span>54</span></li>
						<li><span>55</span></li>
						<li><span>56</span></li>
						<li><span>57</span></li>
						<li><span>58</span></li>
						<li><span class="active">59</span></li>
						<li><span>60</span></li>
						<li><span>61</span></li>
						<li><span>62</span></li>
						<li><span>63</span></li>
						<li><span class="active">64</span></li>
						<li><span>65</span></li>
						<li><span>66</span></li>
						<li><span>67</span></li>
						<li><span class="active">68</span></li>
						<li><span>69</span></li>
						<li><span>70</span></li>
						<li><span>71</span></li>
						<li><span>72</span></li>
						<li><span class="active">73</span></li>
						<li><span>74</span></li>
						<li><span>75</span></li>
						<li><span>76</span></li>
						<li><span>77</span></li>
						<li><span>78</span></li>
						<li><span>79</span></li>
						<li><span>80</span></li>
						<li><span class="active">81</span></li>
						<li><span>82</span></li>
						<li><span>83</span></li>
						<li><span>84</span></li>
						<li><span>85</span></li>
						<li><span class="active">86</span></li>
						<li><span>87</span></li>
						<li><span>88</span></li>
						<li><span>89</span></li>
						<li><span class="active">90</span></li>
					</ul>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<section class="inner-bg search-ticket">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="search-form">
						<h6>Enter Ticket Number to View</h6>
						<form class="row">
							  <div class="col-3">
							    <button type="submit" class="btn btn-orange w-100"><i class="fal fa-redo mr-2"></i>Clear</button>
							  </div>
							  <div class="col-6 pl-0 pr-0">
							    <input type="text" class="form-control" id="" placeholder="0">
							  </div>
							  <div class="col-3">
							    <button type="submit" class="btn btn-orange w-100"><i class="fal fa-eye mr-2"></i>View</button>
							  </div>
						</form>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="keypad">
						<ul>
							<li><button type="button" class="btn btn-key">0</button></li>
							<li><button type="button" class="btn btn-key">1</button></li>
							<li><button type="button" class="btn btn-key">2</button></li>
							<li><button type="button" class="btn btn-key">3</button></li>
							<li><button type="button" class="btn btn-key">4</button></li>
							<li><button type="button" class="btn btn-key">5</button></li>
							<li><button type="button" class="btn btn-key">6</button></li>
							<li><button type="button" class="btn btn-key">7</button></li>
							<li><button type="button" class="btn btn-key">8</button></li>
							<li><button type="button" class="btn btn-key">9</button></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Game Status Start --->
			<div class="game-status">
				<div class="row justify-content-center">
					<div class="col-lg-10">
						<!-- status type start -->
						<div class="status-type">
						  <a class="btn status-title" data-toggle="collapse" data-target="#HouseFirst">First Housefull</a>
						  <div id="HouseFirst" class="collapse show">
						    <div class="row justify-content-center">
						    	<div class="col-lg-4">
						    		<div class="card">
								      <div class="card-body">
								        <h6 class="ticket-number"><i class="fal fa-ticket-alt mr-2"></i>Ticket : <span>03</span></h6>
								        <p class="ticket-name"><i class="fal fa-user mr-2"></i><strong>By :</strong><span class="pl-2">Krish</span></p>
								      </div>
								    </div>
						    	</div>
						    	<div class="col-lg-4">
						    		<div class="card">
								      <div class="card-body">
								        <h6 class="ticket-number"><i class="fal fa-ticket-alt mr-2"></i>Ticket : <span>01</span></h6>
								        <p class="ticket-name"><i class="fal fa-user mr-2"></i><strong>By :</strong><span class="pl-2">Testing</span></p>
								      </div>
								    </div>
						    	</div>
						    </div>
						    <button type="button" class="btn view-btn" ng-click="showTicket = true"> view</button>
						  </div>
						</div>
						<!-- status type end -->
						<!-- status type start -->
						<div class="status-type">
						  <a class="btn status-title" data-toggle="collapse" data-target="#SecondHouse">Second Housefull</a>
						  <div id="SecondHouse" class="collapse">
						    	<div class="row justify-content-center">
						    	<div class="col-lg-4">
						    		<div class="card">
								      <div class="card-body">
								        <h6 class="ticket-number"><i class="fal fa-ticket-alt mr-2"></i>Ticket : <span>02</span></h6>
								        <p class="ticket-name"><i class="fal fa-user mr-2"></i><strong>By :</strong><span class="pl-2">Krish</span></p>
								      </div>
								    </div>
						    	</div>
						    </div>
						    <button type="button" class="btn view-btn" ng-click="showTicket = true"> view</button>
						  </div>
						</div>
						<!-- status type end -->
						<!-- status type start -->
						<div class="status-type">
						  <a class="btn status-title" data-toggle="collapse" data-target="#HalfSheetBonus">Half Sheet Bonus</a>
						  <div id="HalfSheetBonus" class="collapse">
						    	
						  </div>
						</div>
						<!-- status type end -->

						<!-- status type start -->
						<div class="status-type">
						  <a class="btn status-title" data-toggle="collapse" data-target="#topLine">Top Line</a>
						  <div id="topLine" class="collapse">
						    	
						  </div>
						</div>
						<!-- status type end -->

						<!-- status type start -->
						<div class="status-type">
						  <a class="btn status-title" data-toggle="collapse" data-target="#middleLine">Middle Line</a>
						  <div id="middleLine" class="collapse">
						    	
						  </div>
						</div>
						<!-- status type end -->

						<!-- status type start -->
						<div class="status-type">
						  <a class="btn status-title" data-toggle="collapse" data-target="#bottomLine">Bottom Line</a>
						  <div id="bottomLine" class="collapse">
						    	
						  </div>
						</div>
						<!-- status type end -->

						<!-- status type start -->
						<div class="status-type">
						  <a class="btn status-title" data-toggle="collapse" data-target="#StartLine">Star Line</a>
						  <div id="StartLine" class="collapse">
						    	
						  </div>
						</div>
						<!-- status type end -->

						<!-- status type start -->
						<div class="status-type">
						  <a class="btn status-title" data-toggle="collapse" data-target="#quick7">Quick 7</a>
						  <div id="quick7" class="collapse">
						    	
						  </div>
						</div>
						<!-- status type end -->
					</div>
				</div>
			</div>
			<!-- Game Status End --->
		</div>
	</section>
	<section class="inner-bg payed-numbers">
		<div class="container">
			<div class="title">
				<h3>Last played number</h3>
			</div>
			<div class="row">
				<div class="col-lg-12 p-0">
					<div class="game-play">
						<ul>
							<li><span class="active">53</span></li>
							<li><span class="active">39</span></li>
							<li><span class="active">10</span></li>
							<li><span class="active">86</span></li>
							<li><span class="active">17</span></li>
							<li><span class="active">24</span></li>
							<li><span class="active">90</span></li>
							<li><span class="active">30</span></li>
							<li><span class="active">50</span></li>
							<li><span class="active">64</span></li>
							<li><span class="active">45</span></li>
							<li><span class="active">04</span></li>
							<li><span class="active">59</span></li>
							<li><span class="active">68</span></li>
							<li><span class="active">73</span></li>
							<li><span class="active">35</span></li>
							<li><span class="active">81</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container mt-4" ng-show="showTicket">
			<div class="row" >
				<div class="col-lg-6 col-md-12 col-12">
				<div class="ticket">
					<div class="card">
						<div class="card-header">
							<div class="ticket-number">Ticket : <span>01</span></div>
							<div class="ticket-status"><span>By Testing</span></div>
						</div>
						<div class="card-body">
							<table class="table w-100">
								<tbody>
									<tr>
										<td class="active"><button type="button">4</button></td>
										<td><button type="button">15</button></td>
										<td><button type="button"></button></td>
										<td><button type="button">32</button></td>
										<td><button type="button"></button></td>
										<td class="active"><button type="button">50</button></td>
										<td><button type="button"></button></td>
										<td class="active"><button type="button">64</button></td>
										<td><button type="button"></button></td>
									</tr>
									<tr>
										<td><button type="button"></button></td>
										<td><button type="button">19</button></td>
										<td class="active"><button type="button">24</button></td>
										<td><button type="button"></button></td>
										<td class="active"><button type="button">45</button></td>
										<td class="active"><button type="button">53</button></td>
										<td><button type="button"></button></td>
										<td class="active"><button type="button">73</button></td>
										<td><button type="button"></button></td>
									</tr>
									<tr>
										<td><button type="button"></button></td>
										<td><button type="button"></button></td>
										<td><button type="button">27</button></td>
										<td class="active"><button type="button">35</button></td>
										<td><button type="button"></button></td>
										<td><button type="button">57</button></td>
										<td><button type="button"></button></td>
										<td><button type="button">76</button></td>
										<td class="active"><button type="button">81</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<button type="button" class="btn clear-btn">Clear</button>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-12">
				<div class="ticket">
					<div class="card">
						<div class="card-header">
							<div class="ticket-number">Ticket : <span>03</span></div>
							<div class="ticket-status"><span>By Krish</span></div>
						</div>
						<div class="card-body">
							<table class="table w-100">
								<tbody>
									<tr>
										<td><button type="button"></button></td>
										<td><button type="button">11</button></td>
										<td><button type="button">21</button></td>
										<td><button type="button"></button></td>
										<td><button type="button">46</button></td>
										<td><button type="button"></button></td>
										<td><button type="button">61</button></td>
										<td class="active"><button type="button">74</button></td>
										<td><button type="button"></button></td>
									</tr>
									<tr>
										<td><button type="button">3</button></td>
										<td><button type="button">19</button></td>
										<td><button type="button"></button></td>
										<td><button type="button">34</button></td>
										<td><button type="button"></button></td>
										<td class="active"><button type="button">59</button></td>
										<td><button type="button"></button></td>
										<td><button type="button"></button></td>
										<td><button type="button">83</button></td>
									</tr>
									<tr>
										<td><button type="button">5</button></td>
										<td><button type="button"></button></td>
										<td><button type="button">28</button></td>
										<td><button type="button"></button></td>
										<td><button type="button">49</button></td>
										<td><button type="button"></button></td>
										<td><button type="button">63</button></td>
										<td><button type="button"></button></td>
										<td><button type="button">87</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<button type="button" class="btn clear-btn">Clear</button>
				</div>
			</div>
				
			</div>
		</div>

	</section>
	
<div class="mobile-btn d-block d-lg-none container">
			<div class="row">
				<div class="col-6">
					<a href="#" class="ph-btn ph-btn2">Join Whatsapp Group</a>
				</div>
				<div class="col-6">
					<a href="agentlist.html" class="ph-btn ph-btn">Show Booking Agents</a>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="js/owl.carousel.js"></script>
		<script type="text/javascript" src="js/custom.js"></script>
	</body>
</html>